@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-container {
  margin-top: 2%;
  /* background: ; */
}

.cart-row {
  margin-top: 15%;
}
.cart-list {
  margin-top: 4% !important;
}

.cart-list-group-item {
  height: 180px !important;
}
.cartRow {
  height: 140px !important;
}
.cart-image {
  width: 150px;
  height: 140px;
}
.cartImageDiv {
  height: inherit;
  /* background:grey; */
}

.cartDetailDiv {
  /* background:pink; */
  height: inherit;
  /* margin-left:1px; */
}
.cName {
  margin-left: 30px;
  /* float:left!important;
    margin-bottom: 0px !important; */
}
.cDesc {
  margin-left: 30px;

  /* min-height: 50px; */
  font-size: small;
  /* font-family: "Poppins", sans-serif; */
  color: rgb(107, 107, 107);
}
.cartCost {
  margin-left: 30px;
}
.list-group-vertical {
  width: 130px;
  align: right;
}
.list-group-vertical-md {
  align-text: left !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
  font-weight: bold !important;
}
.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
}

.order-summary input[type="button"] {
  width: 90% !important;
  background-color: #179017;
  color: white;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding: 8px;
  margin-top: 8px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.order-summary input[type="button"]:hover {
  background-color: #0d700d;
  border: none;
}

@media screen and (max-width: 871px) {
  /* div.{
      width: 100% !important;
    } */
}

/*No Products in cart css*/
.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: tomato;
}
.emptyCart > p {
  font-size: 2vmax;
}
.emptyCart > a {
  background-color: #179017;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
}
