@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.cat-sidebar{
    position: fixed;
    left: 50px;
    top: 50px;
    height: 100%;
    width: 17%;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    margin-right: 20px;

  top: 10px!important;
  height: 100%;

  /* position: abolute;
  right:25%;
  width: 15%;
  left: -20%;
  height: 100%; */
  background: #11101d;
  transition: all .5s ease;
  /* margin: 0 0 0 100px; */

  /* left: 0;
  background: #11101d;
  padding: 6px 14px; */
  /* z-index: 99; */
}
.cat-sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.cat-sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
.cat-sidebar a.active{
  border-left: 5px solid #179017;
  color: #179017;
}
.cat-sidebar a:hover{
    border-left: 5px solid #179017;
    color: #179017;
  }
.cat-sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.cat-sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cat-sidebar #check{
  display: none;
}
.cat-sidebar label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
.cat-sidebar label #cancel{
  opacity: 0;
  visibility: hidden;
}
.cat-sidebar #check:checked ~ .cat-sidebar{
  left: 0;
}
.cat-sidebar #check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
.cat-sidebar #check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1200px) {
    div.cat-sidebar{
      width: 20%;
      max-width: 400px !important;
    }
  }
  


/* @media(max-width : 860px){
  .cat-sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .cat-sidebar a{
    height: 60px;
  }
  .cat-sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .cat-sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
} */