@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .home-container */

/* .main-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
} */
/* .sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
} */


.login-form {
  padding: 10px 30px 20px 30px;
  width: 450px;
  margin: 5vh auto;
  /* margin-bottom: 8vh; */
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 1px 10px 5px rgb(223, 223, 223);
}

.img-round {
  padding: 3px !important;
  border-radius: 50% !important;
  width: 170px !important;
  height: 170px !important;
}

.login-form label {
  color: rgb(73, 73, 73);
  box-sizing: border-box;
  display: block;
  padding: 8px 10px 1px 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1.5px solid rgb(121, 121, 121);
  border-radius: 4px;
  outline: none;
  background: #fff;
  font-size: 13px;
}

.login-form input[type="password"] {
  color: rgb(32, 167, 32);
}

.login-form input:focus {
  border: 1.5px solid #339933;
  box-shadow: 0 0 3px rgba(0, 255, 0, 0.3), 0 0 5px rgba(0, 255, 0, 0.2),
    0 0 7px rgba(0, 255, 0, 0.1), 0 2px 0 white;
}

.login-form #showPassword:focus {
  accent-color: green;
  border: none;
  box-shadow: 0 0;
}

.login-form input[type="file"]:focus {
  border: none;
  box-shadow: 0 0;
}

.login-form #showPassword:checked {
  accent-color: green;
  border: 1.5px solid #339933;
  box-shadow: 0 0 3px rgba(0, 255, 0, 0.3), 0 0 5px rgba(0, 255, 0, 0.2),
    0 0 7px rgba(0, 255, 0, 0.1), 0 2px 0 white;
  /* border: 1.5px solid #334299;
  box-shadow: 0 0 3px rgba(0, 0, 255, 0.3), 0 0 5px rgba(0, 0, 255, 0.2),
    0 0 7px rgba(0, 0, 255, 0.1), 0 2px 0 white; */
}
.login-form label.showPwd {
  display: inline-block;
  padding-left: 10px;
}

.login-form #showPassword {
  display: inline-block;
  width: 15px;
}

.login-form img,
input[type="file"] {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.login-form #img-label {
  padding-top: 0;
}

.login-form input[type="file"] {
  padding: 5px 10px 10px 0;
  outline: none;
  border: none;
}

.login-form input[type="button"] {
  background-color: #179017;
  color: white;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding: 8px;
  margin-top: 8px;
  outline: none;
  border: none;
}

.login-form input[type="button"]:hover {
  background-color: #0f5e0f;
  border: none;
}

.login-footer {
  position: relative;
}

.login-footer hr {
  width: 80%;
  margin: auto;
  color: rgb(109, 109, 109);
}

.login-footer p {
  text-align: center;
  margin: 5px auto;
  margin-top: 0px;
  color: rgb(99, 99, 99);
  font-weight: 700;
  font-size: 12px;
}

/* *************** - navbar - ***************** */
.navbar {
  box-sizing: border-box !important;
}
.navbar-brand .logo {
  box-sizing: border-box !important;
  height: 42px !important;
  padding-top: 2px;
}

.nav-item .nav-link:hover {
  box-sizing: border-box !important;
  color: green !important;
}

/* *************** - home - ****************** */

#more {
  display: none;
}

.card {
  padding: 5px 5px 0 5px;
}
.card-img {
  height: 200px !important;
  /* margin : 0 10px 0 10px; */
}

.home-bg {
  background-color: #f5f5f5 !important;
}

/* .card-title{

} */
.card-text {
  min-height: 50px;
  font-size: small;
  /* font-family: "Poppins", sans-serif; */
  color: rgb(107, 107, 107);
}
.home-container {
  margin: 15px 10px 50px 0px;
}
.seller-container {
  margin: 15px 10px 50px 300px;
}

.category-checkbox {
  position: relative;
  display: inline-block !important;
  /* float: right; */
  width: 80%;
  padding: 10px 30px 20px 5px;
  margin: 0px 5px 5vh 70px;
  background-color: #c7c6c1;
  border-radius: 4px;
  box-shadow: 0px 1px 10px 5px rgb(223, 223, 223);
}

.category-checkbox #checkedBox:focus {
  accent-color: green;
  border: none;
  box-shadow: 0 0;
}

.category-checkbox #checkedBox:checked {
  accent-color: green;
  border: 1.5px solid #339933;
  box-shadow: 0 0 3px rgba(0, 255, 0, 0.3), 0 0 5px rgba(0, 255, 0, 0.2),
    0 0 7px rgba(0, 255, 0, 0.1), 0 2px 0 white;
  /* border: 1.5px solid #334299;
  box-shadow: 0 0 3px rgba(0, 0, 255, 0.3), 0 0 5px rgba(0, 0, 255, 0.2),
    0 0 7px rgba(0, 0, 255, 0.1), 0 2px 0 white; */
}
.category-checkbox label.showCheck {
  display: inline-block;
  padding-left: 10px;
}

.category-checkbox #checkedBox {
  display: inline-block;
  width: 15px;
}

.category-checkbox input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1.5px solid rgb(121, 121, 121);
  border-radius: 4px;
  outline: none;
  background: #fff;
  font-size: 13px;
}
.category-checkbox input[type="button"] {
  background-color: #179017;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding: 5px 10px;
  margin: 7px 1px 5px 16px;
  outline: none;
  border: none;
}

.category-checkbox input[type="button"]:hover {
  background-color: #0f5e0f;
  border: none;
}

/* ********** - on click detailed card - ********** */

.home {
  position: relative;
  float:left;
}
/* .homecon{position:absolute;}  */
.fixcard {
  position: fixed;
  top: 0;
  right: 0%;
  background-color: #333;
  color: #f5f5f5;
  margin: 50px 15px 0 0;
  width: 275px;
  height: 100%;
}

/* .detail{
  background-color: #333;
  color:#f5f5f5;
  /* position:fixed; */
/* right:0; */

/* display: inline-block;
  float: right; 
  margin: 0 30px 0 0;
  width:300px;
  */
.closebtn {
  position: absolute;
  /* top: 10px; */
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  display: inline-block;
}
.cardHead {
  padding: 5px 5px 10px 10px;
}
/* .heading{
  
  padding: 8px 10px 7px 10px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

.detailCardBody {
  color: #f5f5f5 !important;
}
.detailed-card {
  background-color: #333;
  color: #f5f5f5;
  position: absolute;
  right: 0;
  /* width:fit-content; */
  /* display: inline-block;
  float: right; */
  margin: 0 10px 0 10px;
}
.hidden {
  visibility: hidden;
}



@media screen and (max-width: 500px) {
  .login-form {
    width: 100%;
    margin-top: 0;
    box-shadow: 0 2px 2px #ccc;
    padding: 10px 30px 20px 30px;
  }
  .login-footer {
    position: relative;
    bottom: 10px;
    width: 100%;
  }
  .category-checkbox {
    width: 50%;
  }
}


/* for sidebar */

.sidebar{
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
  width: 50px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  margin-right: 20px;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  height: 40px;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: #339933;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}


/* .sidebar li .profile{ */
  /* height: 60px;
  width: 60px; */

  /* position: fixed;
  color:#f5f5f5;
  height: 30px;
  width: 30px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #11101D!important;
  overflow: hidden;  */
  /* position: absolute;
    bottom: 0px !important;  */
  /* color: #ccc; */
/* } */

/* .sidebar .profile #log_out{
  position: absolute;
  top: 10%;
  left: 10%;
  background: #1d1b31;
  width: 100%;
  height: 25px;
  line-height: 60px;
} */

/* @media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}  */

/* for money range slider */
.priceFilter
{
  width: 90%; /* Full-width */
  height: 25px; /* Specified height */
  /* background: #d3d3d3; Grey background */
  margin-left: 10px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  color:#339933;
}

/* Mouse-over effects */
.priceFilter:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.priceFilter::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.priceFilter::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Seller Page using css grid*/

.shopImg{
  grid-area: sImg ;
  margin-top: 50px;
  float:left;
}
.shopDetail{
  grid-area: sDetail ;
}
.newProductButton{grid-area: pBtn ;}
.products{grid-area: sProduct ;}
.orders{grid-area: sOrder ;}

.seller-container{
  display: grid;
  grid-template-areas:
  'sDetail sDetail sDetail sImg sImg sImg'
  'sDetail sDetail sDetail pBtn pBtn pBtn'
  'sProduct sProduct sProduct sProduct sProduct sProduct'
  'sOrder sOrder sOrder sOrder sOrder sOrder';
  grid-gap: 10px;
  /* background-color: #04AA6D; */
  padding: 10px;
}
.seller-container > div {
  background-color: white;
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
}

.seller-container  label {
  color: rgb(73, 73, 73);
  /* box-sizing: border-box;
  display: block; */
  padding: 8px 10px 1px 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.seller-container input {
  /* display: block; */
  /* width: 50%; */
  /* padding: 5px 10px; */
  border: 1.5px solid rgb(121, 121, 121);
  border-radius: 4px;
  outline: none;
  background: #fff;
  font-size: 13px;
}


/* Cart */

.ModalHead{
  text-align: center !important;
}


.spanForgetPassword{
  color: #339933;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px ;
  text-decoration: none;
}

.spanForgetPassword:hover {
  /* box-sizing: border-box !important; */
  color: green !important;
}

/* ********** - footer - ********** */

.footer{
  /* position: ; */
  /* bottom: 0; */
  text-align: center;
  color:#fff ;
  background-color: #828b88;
}
/* 
.footer-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-item{
  float: center;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
} */

/* seller card */
.sellerCard {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s
}

.name {
  font-size: 22px;
  font-weight: bold
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.s-link {
  color: #04AA6D;
  font-size: 15px
}
.s-link:hover {
  color: #04AA6D;
  font-size: 17px
}


.join {
  font-size: 10px;
  color: #07af71;
  font-weight: bold
}

.date {
  background-color: rgb(235, 232, 232)
}

.prodDesc{
  font-size: 12px;
  color: #545454;
  font-weight: 500;
  margin-top: 0px;

}

/* shopDetailPage */

/* .shopDetailPage{} */
/* .shopImgDetailPage{
  /* background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  .cardShop {
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    border-radius: 10px;
    background: linear-gradient(145deg, #F5907C, #FBD2B2);
    box-shadow: 10px 10px 20px #FBD2B2, -10px -10px 20px #FBD2B2;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #f57e67, #FBD2B2);
    box-shadow: inset 20px 20px 60px #F5907C, inset -20px -20px 60px #FBD2B2
}

.num {
    color: #eee !important
}

.line {
    color: #fff
}

.neo-button:active {
    border-radius: 50%;
    background: #f57e67;
    box-shadow: 28px 28px 57px #f59582, -28px -28px 57px #FBD2B2;
}

.FaFacebookF {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.SiGmail {
    color: #dc4e41
}

.FaYoutube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

.profile_button {
    color: #fff;
    padding: 10px;
    border: none;
    outline: 0 !important;
    border-radius: 50px;
    background: #519e5a;
    box-shadow: 28px 28px 57px #519e5a, -28px -28px 57px #91E99B
}

.shopProd{
  text-align: center !important;
  /* margin-top: 5%; */
}

.shopProd.h2{
  color: #000;
	/* font-size: 26px; */
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
	background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.card-img-top{
  width: 100% !important;
  height: 200px;
  object-fit: cover;
}
.shopProdd{
  margin-right: 20px;
}

.rowProduct{
  margin-top: 3% !important;
  height: 250px !important;
}
.prodImg{
  height: 250px !important;
}

/* Star rating */

.rate {
  /* float: left; */
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.like {
  font-size: 1.5rem;
}
.checked {
  color: orange;
}

.containerProduct{
  margin-left: 2% !important;
}